
<div class="container text-justify">
    <br>
    <br>
    <p><span class="text-primary">1. Are you official?</span><br>
    No
    </p>
    <p><span class="text-primary">2. What is the source of your data?</span><br>
    The counts has been taken as per the official website of Ministry of Health and Family Welfare(mohfw) and 
    is  updated time to time as the data is updated in the site.
    </p>
    <p><span class="text-primary">3. What can we do to prevent the spread of COVID-19 in our country?</span><br>
    Stay home and maintain Social Distance.</p>
    
    <p><span class="text-primary">4. How does COVID-19 spread?</span><br>
        The  disease  can  spread  from  person  to  person  through  small  droplets  from  the  nose  
        or  mouth  which  are  spread when a person with COVID-19 coughs or exhales. These droplets land on 
        objects and surfaces around the person. Other people then catch COVID-19 by touching these objects or 
        surfaces, then touching their eyes, nose or mouth. People can also catch COVID-19 if they breathe in 
        droplets from a person with COVID-19 who coughs out or exhales droplets.
    </p>
    <p><span class="text-primary">4. Is there a vaccine, drug or treatment for COVID 19?</span><br>
        To  date,  there  is  no  vaccine  and  no  specific  antiviral  medicine  to  prevent  or  treat  COVID-2019.  
        However,  those affected should receive care to relieve symptoms. People with serious illness should be hospitalized.
    </p>

    <a class="text-danger" href="https://www.mohfw.gov.in/pdf/FAQ.pdf" target="_blank">FAQs present in Official site.</a>

</div>
